.btn {
  width: 100%;
  background-color: var(--grayish-blue);
  border-radius: 8px;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s ease-in;
  padding: 8px 4px;
}

.btn:hover {
  background-color: var(--soft-red);
}